/* definfindo variaveis */
:root {
  --cor-txt-prenav-nav: white;
  --cor-back-prenav-nav: purple;
  --padd-txt-mobile: 0.5rem 0.5rem;
  --padd-txt-desk: 1rem;
  --min-width-div: 320px;
}
/*regras fundamentais*/


/*CSS em si*/

body {
  margin: 0;
  font-family: Roboto;
  background-color: lightgray;
}
header {
  width: 100%;
  background-color: var(--cor-back-prenav-nav);
}
.prenavbar {
  color: var(--cor-txt-prenav-nav);
  background-color: var(--cor-back-prenav-nav);
  min-width: var(--min-width-div);
}
.prenavbar p {
    text-align: center;
    margin: 0;
    padding-top: 2rem;
}
.navbar {
  background-color: var(--cor-back-prenav-nav);
  display: flex;
  color: white;
  width: 100%;
  height: 2.5rem;
  position: sticky;
  top: 0;
  left: 0;
  min-width: var(--min-width-div);
}
.navbar a {
  flex: auto;
}
h1 {
  margin: 0;
  padding: 0;
  flex: auto;
}
.pagina {
  margin-top: 3rem;
  background-color: white;
  z-index: 1;
  border-radius: 1rem;
  min-width: var(--min-width-div);
}

.codigo {
    border-radius: 1rem;
    margin: 0 1rem;
    background-color: #474747;
    color: white;
}
.codigo p {
    padding: var(--padd-txt-mobile)
}
header {
  margin-left: auto;
  margin-right: auto;
}
/* media queries*/

@media (max-width: 425px) {
  .prenavbar{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  
  .pagina {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .pagina p {
    padding: var(--padd-txt-mobile);
  }
  .pagina h1 {
    padding: var(--padd-txt-mobile);
  }
}
@media (min-width: 426px) {
  .prenavbar {
    margin-left: auto;
    margin-right: auto;
    min-width: 425px;
    max-width: 600px;
  }
  .pagina {
    margin-left: auto;
    margin-right: auto;
    min-width: 425px;
    max-width: 600px;
  }
  .pagina p {
    padding: var(--padd-txt-desk);
  }
  .pagina h1 {
    padding: var(--padd-txt-desk);
  }
  .pagina h3 {
    padding: var(--padd-txt-desk);
  }
}
